.content > * {
    opacity: 0;
    animation: entrar .3s forwards;
}

@keyframes entrar {
    from {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

[data-btn="noti"] {
    background: rgb(255, 217, 186);
    font-weight: bold;
    font-size: 1.5rem;
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    border-width: 4px;
    cursor: pointer;
}

[data-btn="noti"].active {
    background: rgb(71, 53, 29);
    color: white;
}